
/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
div#login_form_container{
	margin : 0 auto;
}

.form-login {
	position         : relative;

	margin-top       : 50%;
	padding          : 10px;

	background-color : #EDEDED;
	text-align       : center;
	border-color     : #d2d2d2;
	border-width     : 5px;
	border-radius    : 15px;
	box-shadow       : 0 1px 0 #cfcfcf;
}

input[name=email], input[name=password] {
	padding-top   : 5px;
	border-radius : 10px;
}

.empty-line{
	height : 8px;
}